*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
}
.item span{
    margin-top: 10px;
}
.item button{
    margin-top: 10px;
}